<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="comPortName" value = "COM3" />
        <add key="comBaudRate" value = "9600" />
        <add key="comParity" value = "0" />
        <add key="comDataBits" value = "8" />
        <add key="comStopBits" value = "1" />
        <add key="comHandshake" value = "0" />
        <add key="mouseSpeed" value = "5" />
    </appSettings>
</configuration>